@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  @apply scroll-smooth;
}

.hero {
  height: calc(100vh + 7rem);
  width: 100%;
}

.swiper-button-next {
  background-image: url(/next.svg), linear-gradient(50deg, rgba(249,115,22,1) 50%, rgba(208,14,47,1) 100%) ;
  width: 25px !important;
  height: 25px !important;
  border: 1px solid white;
  border-radius: 50% !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  right: -0px !important;
  overflow: visible !important;
  z-index: 200;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {

  background-image: url(/prev.svg), linear-gradient(50deg, rgba(249,115,22,1) 50%, rgba(208,14,47,1) 100%) ;
 border: 1px solid white;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 0px !important;
  z-index: 200;
  overflow: visible !important;
}

.swiper {
  padding: 10px !important;
}

.swiper-button-prev::after {
  display: none;
}

.story {
  background-blend-mode: darken;
}